@charset "UTF-8";
/* Global styles */
/* VARIABLES
 * ============================== */
/* Colors */
/* Typography */
/* Screen media breakpoints */
/* Cat├ílogo */
/* Base mobile style */
/*! Based on HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/* line 3, ../scss/_base.scss */
html,
button,
input,
select,
textarea {
  color: #4d4d4d;
}

/* line 11, ../scss/_base.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/* line 16, ../scss/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #6d8082;
  margin: 1em 0;
  padding: 0;
}

/* line 25, ../scss/_base.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/* line 32, ../scss/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 38, ../scss/_base.scss */
textarea {
  resize: vertical;
}

/* line 42, ../scss/_base.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #2B6FD1;
  color: #fff;
  padding: 0.2em 0;
}

/* GLOBAL
 * ============================== */
/* line 52, ../scss/_base.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #4d4d4d;
  font-family: Bitter, serif;
  font-weight: 700;
}

/* line 63, ../scss/_base.scss */
figure {
  margin: 0;
}

/* line 67, ../scss/_base.scss */
iframe {
  border: none;
}

/* STRUCTURE
 * ============================== */
/* line 75, ../scss/_base.scss */
body {
  background: #F5F5F3;
  border-top: 8px solid #2B6FD1;
  color: #4d4d4d;
  font: 16px/26px Raleway, Helvetica, sans-serif;
}

/* line 82, ../scss/_base.scss */
.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* line 87, ../scss/_base.scss */
.loader {
  margin: 0 auto;
  height: 20em;
  width: 20%;
  text-align: center;
  padding: 10em 2em 2em;
  display: block;
}

/* line 97, ../scss/_base.scss */
svg path,
svg rect {
  fill: #2B6FD1;
}

/* HEADER
 * ============================== */
/* line 105, ../scss/_base.scss */
#header-container {
  background: #2B6FD1;
}

/* line 109, ../scss/_base.scss */
#logo {
  margin: 0;
  padding: 0;
}
/* line 113, ../scss/_base.scss */
#logo a {
  background: url(../img/header-logo.png) center center;
  display: block;
  width: 230px;
  height: 130px;
  margin: 0 auto;
}

/* Menu */
/* line 124, ../scss/_base.scss */
.tinynav {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  color: #2B6FD1;
  font-weight: 700;
  border: none;
}
/* line 133, ../scss/_base.scss */
.tinynav option {
  padding: 0.5em 1em;
}

/* line 138, ../scss/_base.scss */
#nav {
  display: none;
}

/* Main
 * ============================== */
/* line 145, ../scss/_base.scss */
.main-container {
  background: #F5F5F3;
}

/* line 149, ../scss/_base.scss */
.main {
  padding: 60px 0 30px 0;
}

/* line 153, ../scss/_base.scss */
.main article h1 {
  font-size: 2em;
}

/* line 157, ../scss/_base.scss */
.page-content {
  background: #fff;
  border-top: 2px solid #2B6FD1;
  margin-bottom: 30px;
  padding: 24px;
}
/* line 163, ../scss/_base.scss */
.page-content:last-child {
  margin: 0;
}
/* line 167, ../scss/_base.scss */
.page-content h2 {
  color: #2B6FD1;
  font-size: 1.500em;
  margin: 0 0 24px 0;
}
/* line 173, ../scss/_base.scss */
.page-content h3 {
  margin-top: 0;
}
/* line 177, ../scss/_base.scss */
.page-content .text-columns {
  -webkit-columns: 1 768px;
  -moz-columns: 1 768px;
  columns: 1 768px;
}

/* line 184, ../scss/_base.scss */
.page-section {
  margin-top: 20px;
}

/* line 188, ../scss/_base.scss */
.pagination {
  margin: 30px 0 0 0;
}
/* line 191, ../scss/_base.scss */
.pagination a {
  color: #2B6FD1 !important;
}
/* line 195, ../scss/_base.scss */
.pagination .active a {
  background: #2B6FD1 !important;
  color: #fff !important;
}

/* line 201, ../scss/_base.scss */
.main aside {
  color: white;
  padding: 0px 5% 10px;
}

/* line 208, ../scss/_base.scss */
#featured-content .featured-box {
  margin: 0 auto 20px;
  max-width: 480px;
}
/* line 212, ../scss/_base.scss */
#featured-content .featured-box:hover {
  text-decoration: none;
}
/* line 215, ../scss/_base.scss */
#featured-content .featured-box:hover .featured-text {
  background-color: #e9e9e5;
}
/* line 218, ../scss/_base.scss */
#featured-content .featured-box:hover .featured-text h4,
#featured-content .featured-box:hover .featured-text span {
  color: #2B6FD1;
}
/* line 226, ../scss/_base.scss */
#featured-content figure {
  margin: 0;
  width: 100%;
  height: 100%;
}
/* line 232, ../scss/_base.scss */
#featured-content .featured-text {
  background: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}
/* line 238, ../scss/_base.scss */
#featured-content .featured-text h4 {
  color: #2B6FD1;
}
/* line 242, ../scss/_base.scss */
#featured-content .featured-text span {
  color: #6d8082;
  font-family: Raleway, Helvetica, sans-serif;
  font-wight: 300;
}

/* Catalog */
/* line 252, ../scss/_base.scss */
.catalogo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
/* line 256, ../scss/_base.scss */
.catalogo-container .thumb-container {
  max-width: 200px;
  width: 20%;
}
@media (max-width: 1030px) {
  /* line 256, ../scss/_base.scss */
  .catalogo-container .thumb-container {
    width: 25%;
  }
}
@media (max-width: 600px) {
  /* line 256, ../scss/_base.scss */
  .catalogo-container .thumb-container {
    width: 33.33%;
  }
}
@media (max-width: 400px) {
  /* line 256, ../scss/_base.scss */
  .catalogo-container .thumb-container {
    width: 50%;
  }
}

/* line 273, ../scss/_base.scss */
.thumbnail {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  position: relative;
}
/* line 280, ../scss/_base.scss */
.thumbnail .caption {
  position: absolute;
  z-index: 250;
  top: 25%;
  padding: 1em;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
/* line 289, ../scss/_base.scss */
.thumbnail:before {
  content: '';
  position: absolute;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
/* line 304, ../scss/_base.scss */
.thumbnail:hover .caption {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in 0.2s;
          transition: all 0.3s ease-in 0.2s;
}
/* line 309, ../scss/_base.scss */
.thumbnail:hover:before {
  opacity: 0.75;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

/* line 316, ../scss/_base.scss */
.text-caption {
  font-size: 1.1em;
  line-height: 1.125;
  font-weight: 700;
  text-align: center;
  color: #2B6FD1;
}

/* Trabajos */
/* line 327, ../scss/_base.scss */
.trabajos h4 {
  text-align: center;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
/* line 332, ../scss/_base.scss */
.trabajos .thumbnail {
  min-height: 250px;
  margin-bottom: 1em;
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
}
@media (max-width: 481px) {
  /* line 332, ../scss/_base.scss */
  .trabajos .thumbnail {
    min-height: 220px;
  }
}
/* line 341, ../scss/_base.scss */
.trabajos .thumbnail:before {
  background-color: transparent;
}
/* line 345, ../scss/_base.scss */
.trabajos .thumbnail:hover {
  border-bottom: 2px solid #2B6FD1;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
/* line 351, ../scss/_base.scss */
.trabajos .thumbnail:hover h4 {
  color: #2B6FD1;
  border: none;
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
}

/* FancyBox */
/* line 363, ../scss/_base.scss */
.fancybox-close {
  top: 0;
  right: -36px;
  background: none #2B6FD1;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
}
/* line 374, ../scss/_base.scss */
.fancybox-close:before {
  content: "\00d7";
}
/* line 378, ../scss/_base.scss */
.fancybox-close:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 0.2s ease;
          transition: color 0.2s ease;
}

/* line 385, ../scss/_base.scss */
.fancybox-skin {
  background: none;
  border-radius: none;
  padding: 0 !important;
}

/* line 391, ../scss/_base.scss */
.fancybox-opened .fancybox-skin {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* line 397, ../scss/_base.scss */
.fancybox-title {
  font: Bitter, serif;
}

/* line 401, ../scss/_base.scss */
.fancybox-title-float-wrap {
  bottom: auto;
  margin-top: 0;
}

/* line 406, ../scss/_base.scss */
.fancybox-title-float-wrap .child {
  background: #2B6FD1;
  border-radius: 0;
  text-shadow: none;
  font-weight: 700;
}

/* line 413, ../scss/_base.scss */
.fancybox-title-float-wrap h5 {
  color: #fff;
}

/* Google Maps */
/* line 419, ../scss/_base.scss */
.embed-responsive,
.embed-responsive-16by9 {
  padding-bottom: 41%;
  margin-bottom: 1.5rem;
}

/* Contact form */
/* line 427, ../scss/_base.scss */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
}
/* line 434, ../scss/_base.scss */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}

/* line 439, ../scss/_base.scss */
input[type="submit"] {
  background: #F5F5F3;
  border: none;
  color: #4d4d4d;
  width: 100%;
  padding: 10px 0;
}
/* line 446, ../scss/_base.scss */
input[type="submit"]:hover, input[type="submit"]:focus {
  background: #2B6FD1;
  color: #fff;
}

/* Footer
 * ============================== */
/* line 456, ../scss/_base.scss */
#footer {
  border-top: 2px solid #2B6FD1;
  background: #F5F5F3;
  color: #6d8082;
  font-size: 0.875em;
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
}
/* line 465, ../scss/_base.scss */
#footer a {
  color: #6d8082;
}
/* line 468, ../scss/_base.scss */
#footer a:hover {
  text-decoration: underline;
}
/* line 473, ../scss/_base.scss */
#footer p {
  margin: 0;
}
/* line 477, ../scss/_base.scss */
#footer .social-facebook {
  float: left;
  font: 0/0;
  display: block;
  width: 16px;
  height: 16px;
}
/* line 485, ../scss/_base.scss */
#footer .social-facebook:hover {
  opacity: 0.8;
}

/* IE Fixes */
/* line 492, ../scss/_base.scss */
.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 500, ../scss/_base.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 507, ../scss/_base.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 514, ../scss/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 519, ../scss/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 530, ../scss/_base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 540, ../scss/_base.scss */
.invisible {
  visibility: hidden;
}

/* line 544, ../scss/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 550, ../scss/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 554, ../scss/_base.scss */
.clearfix {
  *zoom: 1;
}

/* Large phone & vertical tablets */
@media only screen and (min-width: 480px) {
  /* STRUCTURE
   * ============================== */
  /* HEADER
   * ============================== */
  /* IE Fixes */
  /* line 9, ../scss/_481up.scss */
  nav ul li {
    display: inline;
  }

  /* line 13, ../scss/_481up.scss */
  .oldie nav a {
    margin: 0 0.7%;
  }
}
/* Horizontal tablets & desktop */
@media only screen and (min-width: 768px) {
  /* STRUCTURE
   * ============================== */
  /* line 4, ../scss/_768up.scss */
  .wrapper {
    max-width: 960px;
    margin: 0 auto;
  }

  /* HEADER
   * ============================== */
  /* line 12, ../scss/_768up.scss */
  #header-container {
    background: #fff;
  }

  /* line 18, ../scss/_768up.scss */
  #logo a {
    margin: 0;
  }

  /* Nav */
  /* line 25, ../scss/_768up.scss */
  #logo {
    float: left;
  }

  /* line 29, ../scss/_768up.scss */
  #navbar {
    float: right;
  }

  /* line 33, ../scss/_768up.scss */
  #nav {
    display: block;
    margin: 36px 0;
  }
  /* line 37, ../scss/_768up.scss */
  #nav li {
    display: inline-block;
  }
  /* line 40, ../scss/_768up.scss */
  #nav li a {
    color: #6d8082;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 1.125em;
    font-weight: 300;
  }
  /* line 50, ../scss/_768up.scss */
  #nav li:hover a, #nav li.active a {
    background-color: #e9e9e5;
    border-bottom: 2px solid #2B6FD1;
    color: #2B6FD1;
  }
  /* line 60, ../scss/_768up.scss */
  #nav .dropdown {
    position: relative;
  }
  /* line 63, ../scss/_768up.scss */
  #nav .dropdown > .submenu {
    display: none;
  }
  /* line 66, ../scss/_768up.scss */
  #nav .dropdown > .submenu li {
    display: block;
  }
  /* line 73, ../scss/_768up.scss */
  #nav .dropdown:hover > .submenu, #nav .dropdown:focus > .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: auto;
    padding: 0;
    margin: 0;
    z-index: 999;
    min-width: 200px;
  }
  /* line 84, ../scss/_768up.scss */
  #nav .dropdown:hover > .submenu a, #nav .dropdown:focus > .submenu a {
    clear: both;
    padding: 10px;
    background-color: #e9e9e5;
    border-bottom: none;
    color: #2B6FD1;
  }
  /* line 91, ../scss/_768up.scss */
  #nav .dropdown:hover > .submenu a:hover, #nav .dropdown:focus > .submenu a:hover {
    background: #2B6FD1;
    color: #fff;
  }

  /* line 101, ../scss/_768up.scss */
  .tinynav {
    display: none;
  }

  /* Main
   * ============================== */
  /* line 108, ../scss/_768up.scss */
  .home-hero {
    overflow: hidden;
  }
  /* line 112, ../scss/_768up.scss */
  .home-hero img {
    display: block;
    margin: 0 auto;
  }

  /* line 120, ../scss/_768up.scss */
  .page-content .text-columns {
    -webkit-columns: 2 435px;
    -moz-columns: 2 435px;
    columns: 2 435px;
  }

  /* line 127, ../scss/_768up.scss */
  .nav-secundaria {
    background: #F5F5F3;
    margin-bottom: 10px;
  }
  /* line 131, ../scss/_768up.scss */
  .nav-secundaria .nav-tabs {
    border: none;
  }
  /* line 134, ../scss/_768up.scss */
  .nav-secundaria .nav-tabs li.active > a {
    background: #F5F5F3 !important;
  }
  /* line 139, ../scss/_768up.scss */
  .nav-secundaria a {
    border: none !important;
    border-radius: 0 !important;
    font-size: 14px;
    margin-right: 0;
    padding: 10px !important;
  }

  /* Contact form */
  /* line 150, ../scss/_768up.scss */
  textarea {
    height: 170px;
  }

  /* line 154, ../scss/_768up.scss */
  input[type="submit"] {
    float: right;
    width: auto;
    padding: 10px 20px;
  }

  /* Footer
   * ============================== */
  /* line 163, ../scss/_768up.scss */
  #footer {
    margin-bottom: 20px;
    text-align: left;
  }
  /* line 167, ../scss/_768up.scss */
  #footer .copyright {
    float: left;
  }
  /* line 171, ../scss/_768up.scss */
  #footer .made-by {
    float: right;
  }
}
