body{
  font-family: 'Raleway', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  font-family: 'Bitter', serif;
}



.container{
  max-width: $pantalla;
}

.pagination{
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}



.navbar{
  
  .nav{
    display: flex;
    justify-content: space-around;
    
    li a{
      font-size: 1.333em;
      white-space: nowrap;
    }
  }
  
  .dropdown{
    position: relative;
    
    &>.submenu{
      display: none;
      position: absolute;
      left: 0;
      top: 3.3em;
      z-index: 500;
      background-color: #fff;
      width: auto;
      @include single-box-shadow(1px, 3px, 2px, 0, rgba(#000, 0.25));
    }
    
    &:hover,
    &:focus{
      &>.submenu{
        display: block;
      }
    }
  }
}

/* styles for desktop */
.tinynav { display: none }

/* styles for mobile */
@media screen and (max-width: 760px) {
    .tinynav { display: block }
    #nav { display: none }
}
