/* VARIABLES
 * ============================== */

/* Colors */

$blue:         #2B6FD1;
$dark-grey:    darken(#666666, 10%);
$grey:         darken(#95A5A6, 15%);
$light-grey:   #F5F5F3;
$white:        #fff;

/* Typography */

$serif: Bitter, serif;
$sans-serif: Raleway, Helvetica, sans-serif;


/* Screen media breakpoints */
$desktop: 1030px;
$tablet: 768px;
$phone: 481px;

/* Catálogo */
$item-catalogo: 200px;
$items-2: 2*$item-catalogo;
$items-3: 3*$item-catalogo;
$items-4: $desktop;
