///** VARIABLES **/
//media breakpoints
//$hd: 1190px;
$pantalla: 990px;
$tablet: 768px;
$phone: 481px;

$item-catalogo: 200px;

//$items5: $pantalla;
$items4: $pantalla;
$items3: 3*$item-catalogo;
$items2: 2*$item-catalogo;