<div class="main-container" class="container">
    <div class="main wrapper row clearfix">

  <!--<h1 class="h2">Trabajos</h1> -->

          <section class="page-content trabajos">
              <h2>Trabajos en marmolería</h2>

            <div class="trabajos-marmoleria row">

              <div class="col-xs-6 col-sm-4" ng-repeat="trabajo in listaTrabajos.marmoleria">

                  <a href="" ng-click="mostrarTrabajos(urlGeneral + trabajo.path, trabajo.archivos)"  class="thumbnail" >
                  <img back-img="{{urlGeneral + trabajo.path + trabajo.thumb}}" alt="" class="img-responsive" />
                    <h4>{{trabajo.titulo}}</h4>
                </a>

              </div>

            </div>

          </section>

          <section class="page-content trabajos">
              <h2>Trabajos en broncería</h2>

                <div class="trabajos-bronceria row">

                    <div class="col-xs-6 col-sm-4" ng-repeat="trabajo in listaTrabajos.bronceria">

                        <a href="" ng-click="mostrarTrabajos(urlGeneral + trabajo.path, trabajo.archivos)" class="thumbnail" >
                            <img back-img="{{urlGeneral + trabajo.path + trabajo.thumb}}" alt="" class="img-responsive" />
                            <h4>{{trabajo.titulo}}</h4>
                        </a>

                    </div>

                </div>

          </section>

    </div> <!-- #main -->
</div> <!-- #main-container -->